/* ------------------- MOBILE MEDIA QUERIES -------------------*/
.About {
  width: 90%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid white;
  border-radius: 25px;
  padding: 1rem;
}

.aboutText {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.aboutText h2 {
  font-size: 2rem;
}

.aboutText p {
}
/* ------------------- TABLET MEDIA QUERIES -------------------*/

@media (min-width: 768px) {
}

/*------------------- DESKTOP MEDIA QUERIES -------------------*/

@media (min-width: 1440px) {
}

/*------------------- 4K MEDIA QUERIES -------------------*/
@media (min-width: 2560px) {
}
