/* ------------------- MOBILE MEDIA QUERIES -------------------*/

.Container {
  display: flex;
  align-items: center;
  justify-content: center;
  background: black;
  padding: 2rem 0rem;
}

.Left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 1.25rem;
  width: 90%;
  margin: 0 auto;
}

.Left h1 {
  font-size: 2rem;
  font-weight: 400;
}

.Left p {
  width: 70%;
  color: rgba(255, 255, 255, 0.7);
  margin: 0;
}

.bottomLinks {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.bottomLinks p {
  width: 100%;
  color: white;
  text-decoration: underline;
  margin: 1rem 0rem;
}

/* ------------------- TABLET MEDIA QUERIES -------------------*/

@media (min-width: 768px) {
}

/*------------------- DESKTOP MEDIA QUERIES -------------------*/

@media (min-width: 1440px) {
}

/*------------------- 4K MEDIA QUERIES -------------------*/
@media (min-width: 2560px) {
}
