/* ------------------- MOBILE MEDIA QUERIES -------------------*/
.heroContainer {
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5rem;
  height: 90vh;
}

.secondaryContainer {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}
/* image styling */
.imageContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.mobileImage {
  width: 100%;
  height: 100%;
  z-index: 1;
  filter: blur(1.5px);
}

.desktopImage {
  display: none;
}

/* heading styling */
.heroText {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  position: absolute;
  font-size: 10.5vw;
  text-align: center;
  z-index: 2;
  text-align: center;
  color: white;
}

/* ------------------- TABLET MEDIA QUERIES -------------------*/

@media (min-width: 768px) {
}

/*------------------- DESKTOP MEDIA QUERIES -------------------*/
@media (min-width: 1024px) {
  .mobileImage {
    display: none;
  }
  .heroText {
    font-size: 4.1rem;
    top: 10%;
  }
  .heroContainer {
    gap: 8rem;
  }
  .desktopImage {
    display: flex;
    pointer-events: none;
    z-index: 3;
    width: 80%;
    height: auto;
    transform: translateY(75px);
  }
}
@media (min-width: 1440px) {
}

/*------------------- 4K MEDIA QUERIES -------------------*/
@media (min-width: 2560px) {
}
