/* ------------------- MOBILE MEDIA QUERIES -------------------*/
.heroContainer {
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 90vh;
}

.secondaryContainer {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}
/* image styling */
.imageContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.mobileImage {
  width: 85%;
  height: auto;
  z-index: 1;
  filter: blur(1.5px);
}

.desktopImage {
  display: none;
}

/* heading styling */
.heroText {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  position: absolute;
  font-size: 8.5vw;
  text-align: center;
  z-index: 2;
  text-align: center;
  color: white;
}

.button {
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  border-radius: 25px;
  padding: 1rem 3.125rem;
  background-color: white;
  box-shadow: 0px 10px 225px rgba(255, 255, 255, 0.35);
  font-size: 1rem;
}

/* ------------------- TABLET MEDIA QUERIES -------------------*/

@media (min-width: 768px) {
  .mobileImage {
    width: 60%;
    height: auto;
  }
}

/*------------------- DESKTOP MEDIA QUERIES -------------------*/
@media (min-width: 1024px) {
  .mobileImage {
    display: none;
  }
  .heroText {
    font-size: 5vw;
    top: 15%;
  }
  .heroContainer {
    gap: 1rem;
  }
  .desktopImage {
    display: flex;
    pointer-events: none;
    z-index: 3;
    width: 70%;
    height: auto;
    transform: translateY(75px);
  }
}
@media (min-width: 1440px) {
}

/*------------------- 4K MEDIA QUERIES -------------------*/
@media (min-width: 2560px) {
}
