/* ------------------- MOBILE MEDIA QUERIES -------------------*/
/* Main Styling */

.navContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  margin: 0 auto;
  padding: 1rem 0rem;
}

/* Logo Styling */
.logoContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logoContainer svg {
  width: 50px;
  height: 50px;
}

/* Hidden Nav Links from Desktop */
.navLinksContainer {
  display: none;
}

.buttonContainer {
  display: none;
}

/* ------------------- TABLET MEDIA QUERIES -------------------*/

@media (min-width: 768px) {
  .mobileNav {
    display: none;
  }

  /* Links Styling */
  .navLinksContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
  }

  .navLinksContainer ul {
    display: flex;
    gap: 100px;
    list-style: none;
    font-size: 2rem;
    font-weight: 300;
  }

  /* Button Styling */
  .buttonContainer {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  .bookNowButton {
    padding: 1.25rem 5rem;
    background-color: white;
    border-radius: 25px;
    color: black;
    font-size: 2rem;
    box-shadow: 0px 10px 225px rgba(255, 255, 255, 0.35);
  }
}

/*------------------- DESKTOP MEDIA QUERIES -------------------*/

@media (min-width: 1440px) {
}

/*------------------- 4K MEDIA QUERIES -------------------*/
@media (min-width: 2560px) {
}
