/* ------------------- MOBILE MEDIA QUERIES -------------------*/
/* Main Styling */

.navContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  margin: 0 auto;
  padding: 1rem 0rem;
}

/* Logo Styling */
.logoContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logoContainer svg {
  width: 50px;
  height: 50px;
}

/* Hidden Nav Links from Desktop */
.navLinksContainer {
  display: none;
}

.buttonContainer {
  display: none;
}

/* mobile nav styling */
.mobileNav {
}

.mobileNav svg {
  width: 30px;
  height: 30px;
  cursor: pointer;
  z-index: 5;
  color: white;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  height: 100%;
  width: 100%;
  backdrop-filter: blur(8px);
  z-index: 10;
}

.links {
  display: flex;
  gap: 3rem;
  list-style: none;
  font-size: 1.5rem;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  z-index: 11;

  position: fixed;
  background-color: #101010;
  top: 0;
  width: 100%;
  padding: 1rem;

  height: 100vh;
  width: 80%;
  right: 0;
  margin: 0;
}

.links a {
  text-decoration: none;
  color: white;
  width: 100%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.links a:hover {
  text-decoration: underline;
}

.links li {
  width: 100%;
}

/* ------------------- TABLET MEDIA QUERIES -------------------*/

@media (min-width: 768px) {
  .mobileNav {
    display: none;
  }

  .logoContainer {
    flex: 1;
    justify-content: flex-start;
  }
  .navLinksContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 2;
  }

  .navLinksContainer ul {
    list-style: none;
    display: flex;
    align-items: center;
    text-align: center;
    padding: 0rem;
    gap: 3.5rem;
  }

  .buttonContainer {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex: 1;
    color: black;
  }

  .buttonContainer a {
    background: white;
    border-radius: 25px;
    text-align: center;
    box-shadow: 0px 10px 225px rgba(255, 255, 255, 0.35);
    padding: 10px 40px;
  }
}

/*------------------- DESKTOP MEDIA QUERIES -------------------*/

@media (min-width: 1024px) {
  .logoContainer svg {
    width: 50px;
    height: 50px;
  }

  .navLinksContainer ul {
    gap: 4.5rem;
    font-size: 1.25rem;
  }

  .buttonContainer a {
    font-size: 1.25rem;
  }
}

@media (min-width: 1440px) {
  .logoContainer svg {
    width: 100px;
    height: 100px;
  }

  .navLinksContainer ul {
    gap: 6rem;
    font-size: 2rem;
  }

  .buttonContainer a {
    font-size: 2rem;
  }
}

/*------------------- 4K MEDIA QUERIES -------------------*/
@media (min-width: 2560px) {
  .logoContainer svg {
    width: 125px;
    height: 125px;
  }

  .navLinksContainer ul {
    gap: 8rem;
    font-size: 2.5rem;
  }

  .buttonContainer a {
    font-size: 2.5rem;
    padding: 20px 80px;
  }
}
