/* ------------------- MOBILE MEDIA QUERIES -------------------*/
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
  margin: 0 auto;
  padding: 3rem 0rem;
}

.title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.title h1 {
  font-weight: 200;
  font-size: 2rem;
  text-align: center;
  flex: 3;
}

.title hr {
  background-color: white;
  border-radius: 25px;
  flex: 1;
}

.carContainer {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
}

/* ------------------- TABLET MEDIA QUERIES -------------------*/

@media (min-width: 768px) {
  .title h1 {
    flex: 1.5;
  }

  .carContainer {
    gap: 2rem;
  }
}

/*------------------- DESKTOP MEDIA QUERIES -------------------*/

@media (min-width: 1440px) {
}

/*------------------- 4K MEDIA QUERIES -------------------*/
@media (min-width: 2560px) {
}
